# Disable directory listing
Options -Indexes

# Security & clean routing
<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
</IfModule>

# Production PHP flags
php_flag display_errors Off
php_flag log_errors On
php_value error_log /var/www/html/error.log
